@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;600;700&display=swap');

$theme-colors: (
    "info": tomato
);

.contactForm{
    background-color: #EEEEEE;
    border-radius: 10px;
    border: 0px solid;
    margin: 50px 80px 0 -50px;
    padding: 20px;
    //box-shadow: 2px 2px 5px lightgrey;
}

.contactTitle{
    background-color: black;
    margin-left: -1em;
    margin-bottom: 20px;
    margin-right: 2em;
    padding-left: 1em;
    color: white;
    font-size: 2em;
    font-family: 'Halant', serif;
    font-style: italic;
    font-weight: 700;
    text-align: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contactLabel{
    font-size: 22px;

    font-family: 'Halant', serif;
    font-weight: 600;
    text-align: left;
}

.submitBtn{
    font-size: 22px;
    font-style: italic;
    font-family: 'Halant', serif;
    font-weight: 700;
}

Form{
    text-align: none;
}

.mainHeader{
    margin: 30px 0 0 30px;
    padding: 20px;
    background-image: url("./images/house.png");
    background-repeat: no-repeat;
    width: 100%;
}

.mainH1{
    background-color: black;
    padding: 8px;
    width: 340px;
    margin-top: 5em;
    margin-right: 2em;
    padding-left: 1em;
    color: white;
    font-size: 1.8em;
    font-family: 'Halant', serif;
    font-style: italic;
    font-weight: 600;
    text-align: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mainBody{
    margin-left: 2em;
    font-family: 'Halant', serif;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
}

.separator{

    text-align: center;
    height: 5px;
    width: 50%;
}

.spacer{
    margin: 5em 0;
}

@import "~bootstrap/scss/bootstrap";


@import "~bootstrap/scss/bootstrap";