.form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rbga(#fff, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
    .form__input::-webkit-input-placeholder {
      color: #999; }

.formText{
  outline: 0;
  width:100%;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  background-color: rbga(#fff, 0.5);
  display: block;
  margin-bottom: 1.5rem;
}

.submitBtn{
  font-size: 2.2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  width:100%;
  color: #55c57a;
  background-color: #fff;
  border-radius: 5px;
  outline: 0;
  border: 0;
}

.submitBtn:hover{
  background-color: #55c57a;
  color: white; 
}