
$color-primary: #1C1F26;
$color-primary-dark: #13171F;
$color-primary-light: rgb(36, 38, 45);
$color-orange-light: rgba(251, 172, 75, .95);
$color-orange-dark: #de6b17;

$color-green: rgba(48,152,122, .55);


$color-white: rgb(243, 243, 243);
$color-secondary: #E5E5E5;

// GRID
$grid-width: 200rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 5rem;