$theme-colors: (
    "info": tomato
);

.contactForm{
    border-radius: 50% #000;
    border: 0px solid;
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px lightgrey;
}

.cardContainer{
   
}

.allCards{
    
}

.indiCard{
    border-radius: 50% #000;
    border: 0px solid;
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px lightgrey;
    font-size: 1.0rem;
    
}


@import "~bootstrap/scss/bootstrap";